[common]
logdir = /var/log/quantnet
loglevel = INFO

[agent]
threads = 8

[mq]
host=localhost
port=1883

[interpreters]
path=../qn-plugins/plugins/

[schemas]
path=../qn-plugins/plugins/schema

[protocols]
pingpong=pingpong/interpreter/pingpong.py
bsm=bsm/bsm/interpreter/interpreter.py
qfc=qfc/qfc/interpreter/interpreter.py

[devices]
[[exp_framework]]
enabled=true
type=Exp_Framework
driver=DummyExpFramework

[[lightsource]]
enabled=true
type=Light_Source
driver=DummyLightSrc

[[epc]]
enabled=true
type=Filter
driver=DummyEPC

[[polarimeter]]
enabled=true
type=Light_Measurement
driver=DummyPolarimeter

[[egp]]
enabled=true
type=EGP
driver=SimEGPDriver
protocol=EGProtocol

[[messaging]]
enabled=true
type=Messaging
driver=PassthroughDriver

[tasks]
[[downhill_calibration1]]
path=downhill_calibration1.json

[[downhill_calibration2]]
path=downhill_calibration2.json

# [[downhill_calibration3]]
# path=downhill_calibration3.json

# [[downhill_calibration4]]
# path=downhill_calibration4.json
